.emp-popup {
  background: #fff;
  /* box-shadow: 0px 3px 6px #00000029; */
  /* border: 1px solid #70707099; */
padding: auto;
  /* position: absolute; */
  border-radius: 5px;
  top: -85px;
  z-index: 1;
}
.emp-popup:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0;
  border: 25px solid transparent;
  bottom: -30px;
  left: 0;
}
.emp-popup:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  margin-left: -0.5em;
  bottom: -18px;
  left: 50%;
  box-sizing: border-box;
  border: 1em solid black;
  border-color: transparent transparent #fff #fff;
  transform-origin: left;
  transform: rotate(-45deg);
  box-shadow: -3px 3px 3px 0 #00000029;
  z-index: 11;
}
.emp-pop-name {
  font-size: 13px;
  font-family: "Poppins-Semibold";
  font-weight: 600;
  line-height: 20px;
}
.emp-pop-des {
  color: #727272;
  font-size: 12px;
}
.emp-pop-info {
  color: #223247;
  font-size: 11px;
}
.emp-pop-know-more {
  color: #3a58e9;
  font-size: 11px;
  cursor: pointer;
  user-select: none;
  padding-top: 10px;
  text-align: center;
  line-height: 20px;
}
.rc-tooltip-placement-top {
  opacity: 1 !important;
}