#instaFilters {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 10px 10px 10px;
  gap: 15px;
  flex-wrap: wrap;
}

.filter {
  cursor: pointer;
  background: #fff;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding: 3px 24px 3px 24px;
  border: 1px solid #dfdfdf;
  border-radius: 30px;
  font-size: 13px;
  position: relative;
}
/* .filter:before {
  content: '';
  position: absolute;
  height: 17px;
  width: 17px;
  background: #F1AC4D;
  border: 1px solid #F1AC4D;
  border-radius: 10px;
  top: 50%;
  left: 4px;
  transform: translateY(-50%);
} */
/* #instaFilters .filter:nth-child(2):before{
  background: #ffffff;
}
#instaFilters .filter:nth-child(3):before{
  background: #ffffff;
  border: dotted 2px #f1ac4d;;
}
#instaFilters .filter:nth-child(4):before{
  background: #F4F4F4;
  border-color: #D2D2D2;
} */
