#instaFilters {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 20px 10px 0 10px;
  gap: 20px;
}

.filter {
  cursor: pointer;
    background: #fff;
    padding: 2px 24px 2px 38px;
    border: 1px solid #dfdfdf;
    border-radius: 30px;
    font-size: 14px;
    position: relative;
}
.filter:before {
  content: '';
  position: absolute;
  height: 17px;
  width: 17px;
  background: #F1AC4D;
  border: 1px solid #F1AC4D;
  border-radius: 10px;
  top: 4px;
  left: 4px;
}
#instaFilters .filter:nth-child(2):before{
  background: #ffffff;
}
#instaFilters .filter:nth-child(3):before{
  background: #ffffff;
  border: dotted 2px #f1ac4d;;
}
#instaFilters .filter:nth-child(4):before{
  background: #F4F4F4;
  border-color: #D2D2D2;
}
