#timeline {
  height: 3em;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.emp-name {
  font-family: "Poppins-SemiBold";
  font-weight: 600;
  font-size: 24px;
  line-height: 0.9;
}
.years-scroll{
  list-style-type: none;
  display: flex;
  padding: 10px 0;
}
.years-scroll-item{
  position: relative;
}
.years-scroll-item .cm{
  border-left: 1px solid #dbdbdb;
  border-top: 1px solid #dbdbdb;
  height: 25px;
  display: flex;
  justify-content: space-around;
}
.years-scroll-item .mm{
  border-right: 1px solid #dbdbdb;
  height: 14px;
  width: 6%;
}
.years-scroll-item .cm .mm:nth-of-type(11){
  margin-right: 2px;
}
.years-scroll-item span{
  font-size: 12px;
  text-align: center;
  color: #dbdbdb;
  margin-left: -13px;
}
.years-scroll-item{
  position: relative;
    display: inline-block;
    width: 100%;
    text-align: left;
}
.swiper-slide-active span{
  color: #000;
}

.swiper-slide-active.active-end .cm {
  border-top-color: #dbdbdb;
}

.swiper-slide-active .cm{
  border-top-color: #111;
}
.swiper-slide-active.active-start::before,
.swiper-slide-active.active-end::after{
  content: '';
    position: absolute;
    height: 8px;
    width: 8px;
    background: #111;
    border-radius: 40px;
    top: -3px;
    left: -3px;
    z-index: 1;
}

/* .swiper {
  width: 100%;
  height: 300px;
}

.swiper-slide {
  font-size: 18px;
  align-items: center;
  height: 100px;
} */

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* background: #fff; */

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
