.view-btn{
    background: #14202E;
    border: #14202E;
    padding: 10px 15px;
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
    text-align: center;
    margin: 10px auto;
    width: auto;
}