#instaFiltersmob {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 10px 0 10px;
    gap: 4px;
}
.filter-mob {
    cursor: pointer;
    background: #fff;
    padding: 6px 12px 6px 11px;
    border: 1px solid #dfdfdf;
    border-radius: 30px;
    font-size: 12px;
    position: relative;
    display: flex;
    align-items: center;
    gap: 5px
}
/* .filter-mob:before {
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    background: #F1AC4D;
    border: 1px solid #F1AC4D;
    border-radius: 10px;
    top: 8px;
    left: 7px;
} */
/* #instaFiltersmob .filter-mob:nth-child(1):before {
    background: #D8534E;
}
#instaFiltersmob .filter-mob:nth-child(2):before {
    background: #ffffff;
}
#instaFiltersmob .filter-mob:nth-child(3):before {
    background: #ffffff;
    border: dotted 2px #f1ac4d;
}
#instaFiltersmob .filter-mob:nth-child(4):before {
    background: #F4F4F4;
    border-color: #D2D2D2;
} */